#about {
  height: 400px;
  margin: 5% 0 10% 0;
  font-size: larger;
  height: 100%;
  }

#about .aboutInfo {
    bottom: 15px;
    max-width: 75%;
    animation: fadeIn linear 2s;
    -webkit-animation: fadeIn linear 2s;
    -moz-animation: fadeIn linear 2s;
    -o-animation: fadeIn linear 2s;
    -ms-animation: fadeIn linear 2s;
}

#about .aboutHeader {
  color: #303179;
  animation: fadeIn linear 2s;
  -webkit-animation: fadeIn linear 2s;
  -moz-animation: fadeIn linear 2s;
  -o-animation: fadeIn linear 2s;
  -ms-animation: fadeIn linear 2s;
}

#about h1 {
  font-size: 300%;
  color: #ed7966;
  min-width: 475px;
}

#about .aboutHeader h5 {
  font-family: 'Space Mono', monospace;
  font-size: 100%;
}

#about .aboutHeader h2 {
  opacity: 80%;
}

#about img.name {
  width: 90%;
}

@media only screen and (max-width: 475px) {
  #about {
    height: 200% !important;
  }
  img.name {
    min-width: 100%;
  }
}
