#about {
    text-align: center;
    height: 600px;
  }

.myPic {
    margin-top: 10px;
    max-width: 300px;
    max-height: 300px;
    display: inline-block;
}

.aboutInfo {
    display: inline-block;
    position: relative;
    bottom: 15px;
    max-width: 400px;
    margin: 20px;
    text-align: justify;
}

#about a {
    color: black;
}

@media only screen and (max-width: 731px) {
    #about {
      height: 900px !important;
    }
  }