footer {
    font-family: 'Space Mono', monospace;
    text-align: center;
    font-size: 75%;
    padding: 10% 30%;
    background-color: #303179;
    color: #fae5df;
    opacity: 90%;
    border-top-left-radius: 50% 40%;
    border-top-right-radius: 50% 40%;
}
footer a {
    color: #fae5df;
}

footer a:hover {
    color: #a3a4d4;
}

.byeGif {
    height: 150px;
    width: auto;
    border-radius: 25px;
}

