footer {
    text-align: center;
    font-size: smaller;
    padding: 20% 0;
    background-color: #303179;
    color: white;
    opacity: 90%;
    border-top-left-radius: 50% 40%;
    border-top-right-radius: 50% 40%;
}
footer a {
    color: white;
}

footer a:hover {
    color: #ed7966;
}