footer {
    font-family: 'Space Mono', monospace;
    text-align: center;
    font-size: 65%;
    padding: 15% 0;
    background-color: #303179;
    color: #fae5df;
    opacity: 90%;
    border-top-left-radius: 50% 40%;
    border-top-right-radius: 50% 40%;
}
footer a {
    color: #ed7966;
}

footer a:hover {
    color: #a3a4d4;
}