.navigation {
  font-family: 'Space Mono', monospace;
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 10;
  background: #f5cac2;
  opacity: 90%;
  font-size: 80%;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.navigation .burger button {
  border: none;
  background: none;
  padding: 0;
  color: #303179;
  float: right;
  -webkit-transition: background .1s linear;   
  -moz-transition: background .1s linear;   
  -ms-transition: background .1s linear;   
  -o-transition: background .1s linear;   
  transition: background .1s linear; 
}

.navigation .burger button:hover {
  color: #7b7cb3;
}

.navigation ul {
  margin: 0;
  padding: 0;
}

.navigation li {
  list-style-type: none;
  padding: 2%;
  margin: 0;
  float: right;
}

.navigation li a {
  color: #141850;
  text-align: center;
  text-decoration: none;
}

.navigation li a:hover {
  color: #7b7cb3;
}

.logo {
  font-family: 'Space Mono', monospace;
  position: fixed;
  top: 0;
  font-size: larger;
  z-index: 20;
  border-radius: 8px;
  margin: 1.5%;
  padding-top: 5px;
  width: 40px;
  text-align: center;
  color: #303179;
  text-decoration: none;
  animation: 1s ease-out 0s 1 slideInFromLeft;
  transition:
      border-top 0.15s linear,
      border-right 0.15s linear 0.10s,
      border-bottom 0.15s linear 0.20s,
      border-left 0.15s linear 0.30s;
}

.logo:hover {
  border: 2px solid #7b7cb3;
  color: #7b7cb3;
}

.navigation .burger {
  display: none;
  padding: 2%;
  float: right;
}

.burgerNav {
  -webkit-transition: max-height 1s; 
  -moz-transition: max-height 1s; 
  -ms-transition: max-height 1s; 
  -o-transition: max-height 1s; 
  transition: max-height 1s;
  overflow: hidden;
  max-height: 0;
}

.burgerNav li {
  padding: 0 0 30% 0;
  font-size: larger;
}

.burgerNav.showMenu {
  display: block;
  max-height: 300px;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@media only screen and (max-width: 731px) {
  .navigation .burger {
    display: block;
  }
  .navigation .regMenu {
    display: none;
  }
}
