.navigation {
  font-family: 'Space Mono', monospace;
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 10;
  background: #f5cac2;
  opacity: 90%;
  font-size: 90%;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.navigation .burger button {
  border: none;
  background: none;
  padding: 0;
  color: #303179;
  float: right;
}

.navigation .burger button:hover {
  color: #7b7cb3;
}

.navigation ul {
  margin: 0;
  padding: 0;
}

.navigation li {
  list-style-type: none;
  display: inline-block;
  padding: 2%;
  margin: 0;
  float: right;
}

.navigation li a {
  color: #141850;
  text-align: center;
  text-decoration: none;
}

.navigation li a:hover {
  color: #7b7cb3;
}

.logo {
  font-family: 'Space Mono', monospace;
  position: fixed;
  top: 0;
  z-index: 20;
  border: 1px solid #303179;
  border-radius: 25px;
  margin: 1.5%;
  width: 60px;
  text-align: center;
  color: #303179;
  text-decoration: none;
  box-shadow: -5px 5px 5px #303179;
}

.logo:hover {
  background-color: rgb(48, 49, 121, .25);
}

.navigation .burger {
  display: none;
  padding: 2%;
  float: right;
}

.burgerNav {
  display: none;
}

.burgerNav.showMenu {
  display: block;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@media only screen and (max-width: 731px) {
  .navigation .burger {
    display: block;
  }
  .navigation .regMenu {
    display: none;
  }
}
