#projects .projPic {
    float: right;
    position: relative;
    right: 10px;
    top: 65px;
    width: 25%;
    max-height: 220px;
    opacity: 0.85;
    border-radius: 5px;
}

#projects a .projBlock {
    margin: 5% 0;
    border-radius: 30px;
    padding-left: 10px;
    width: 70%;
    display: inline-block;
}

#projects a {
    text-decoration: none;
    color: #141850;
}

#projects a .projBlock:hover {
    background-color: #f5cac2;
}

.right {
    float: right;
}

#projects {
    padding-bottom: 20%;
}

@media only screen and (max-width: 731px) {
    #projects .projPic {
        display: none;
    }

    #projects a .projBlock {
        width: 100%;
    }
  }