#projects .projContainer .projPic {
    position: absolute;
    right: 18%;
    top: 8%;
    max-height: 250px;
    width: 30%;
    opacity: 0.85;
    border-radius: 5px;
    z-index: -1;
}

#projects .projContainer {
    position: relative;
    left:10%;
    margin-bottom: 15%;
}

#projects .projContainer a .projBlock {
    border-radius: 10px;
    padding: 10px;
    width: 60%;
    background-color: #f5cac2;
    display: inline-block;
    z-index: 1;
}

#projects a {
    text-decoration: none;
    color: #141850;
}

#projects a .projBlock:hover {
    background-color: #ed7966;
}

#projects h4 {
    font-size: larger;
}

.clickMe {
    float: right;
}

@media only screen and (max-width: 800px) {
    #projects .projContainer .projPic {
        display: none;
    }
    #projects .projContainer a .projBlock {
        width: 100%;
        position: static;
    }
    #projects .projContainer {
        margin-bottom: 2%;
        left: 0;
    }
  }