* {
  box-sizing: border-box;
}

.App {
  margin-left: auto;
  margin-right: auto;
}

body {
  /* background: #edeaea; */
  background-color: #fae5df;
  font-family: 'Space Mono', sans-serif;
  margin-bottom: 0;
  padding-bottom: 0;
  color: #141850;
}

.content {
  padding: 3%;
}

.date {
  float: right;
  font-size: smaller;
}

h1 {
  line-height: 0.2;
}

.content ul {
  list-style-type: square;
}

#education, #experience, #skills, #projects {
  padding-top: 20%;
  padding-bottom: 20%;
}

h1 {
  color: #ed7966;
}

.arrowTop {
  position: sticky;
  bottom: 0;
  left: 47.8%;
  color:#ed7966;
  text-decoration: none;
  z-index: 9;
  opacity: 90%;
}

.arrowTop:hover {
  color: #303179;
}

@media only screen and (max-width: 731px) {
  .date {
     float: left !important;
  }
}